/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem; 
}

@media (max-width: 600px) {
  .page_main__GlU4n{
    padding: 1rem 0.1rem;
  }
}


